/* Global Styles */
body {
  font-family: Arial, sans-serif;
}

/* Navbar Styles */
.navbar-nav {
  display: flex;
  flex-direction: row;
}

.navbar-nav .nav-item {
  margin-right: 20px; /* Add spacing between nav items */
}

.navbar-nav .nav-link.active {
  font-weight: bold;
  color: white;
  border-radius: 0.25rem;
}

.navbar-brand {
  padding-left: 15px;
  padding-right: 15px;
}

/* Device Card Styles */
.device-card {
  margin: 5px; /* Margin between cards */
  padding: 5px; /* Padding inside the card */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.device.online {
  background-color: #d4edda;
}

.device.offline {
  background-color: #f8d7da;
}

.device.unmonitored {
  background-color: #e9ecef; /* Grey background for unmonitored devices */
}

.sensor-offline-box {
  border: 2px solid #ffc107; /* Yellow border for sensor offline */
}

/* Status Light Styles */
.device .status-light,
.sensor-status {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.device .status-light {
  margin-right: 5px;
}

.sensor-status {
  margin-left: 5px;
}

.status-light.on,
.sensor-online {
  background-color: green !important;
}

.status-light.off,
.sensor-offline {
  background-color: red !important;
}

/* Sensor Status Container */
.sensor-status-container {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Right align the sensor status */
}

/* Card Styles */
.card {
  height: 100%; /* Ensure that all cards have the same height */
}

.card.unmonitored {
  padding: 5px;
  margin: 5px;
}

.card.unmonitored .card-body {
  padding: 10px;
}

/* Device Type Header */
.device-type {
  margin-bottom: 10px;
}

.device-type h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* Device Card Container Styles */
.device-type .row,
.accordion-body .row {
  display: flex;
  flex-wrap: wrap;
  margin: -5px; /* Negative margin to offset card padding/margin */
}

.device-type .device-card,
.accordion-body .device-card {
  flex: 1 1 calc(16.66% - 10px); /* Default flex basis for 6 cards per row */
  max-width: calc(16.66% - 10px);
}

/* Media Queries for Responsiveness */
@media (max-width: 767px) {
  .device-type .device-card,
  .accordion-body .device-card {
    flex: 0 1 100%; /* Full width for mobile */
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .device-type .device-card,
  .accordion-body .device-card {
    flex: 0 1 calc(33.33% - 10px); /* Adjust width for tablet-sized screens */
    max-width: calc(33.33% - 10px);
  }
}

@media (min-width: 992px) and (max-width: 3839px) {
  .device-type .device-card,
  .accordion-body .device-card {
    flex: 0 1 calc(16.66% - 10px); /* Standard width for six cards per row */
    max-width: calc(16.66% - 10px);
  }
}

@media (min-width: 3840px) {
  .device-type .device-card,
  .accordion-body .device-card {
    flex: 0 1 calc(8.33% - 10px); /* Adjust to fit 12 cards per row on 4K displays */
    max-width: calc(8.33% - 10px);
  }
}

#alert-container {
  position: fixed;
  top: 60px; /* Adjust based on your navbar height */
  right: 20px;
  z-index: 1050;
  width: auto;
  max-width: 300px;
}